*{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 15px 0;

}
.body {
    font-family: sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav a {
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: black;

}
.header nav {
    display: flex;
    gap: 30px;
}
.header-btn {
    padding:10px 20px ;
    border-radius: 15px;
    background:black ;
    color: white;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-group {
    display: flex;
    gap: 20px;
}
.img {
    display: flex;
    gap: 20px;
}

.hero-text h1 {
    font-family: Roboto;
font-size: 60px;
font-weight: 700;
text-align: left;
color: black;
}
.hero-text p {
    font-family: Roboto;
font-size: 23px;
font-weight: 400;
line-height: 31.92px;
text-align: left;
color: rgba(18, 16, 12, 0.7)
}
.hero-box button {
    width: 160px;
height: 46px;
border-radius: 16px;
background: rgba(255, 174, 51, 1);
color: black;
border: none;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
text-align: center;
}
.hero-group span {
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(18, 16, 12, 0.7);

}
.select h1 {
    font-family: Roboto;
font-size: 54px;
font-weight: 700;
line-height: 63.72px;
text-align: center;
color: rgba(18, 16, 12, 1);
}
.select h3{
    font-family: Roboto;
font-size: 54px;
font-weight: 400;
line-height: 63.72px;
text-align: center;
color: rgba(153, 151, 149, 1);
text-decoration-line: line-through;
}