*{
    margin: 0;
    padding: 0;
}

*{
    text-decoration: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 15px 0;

}
.body {
    font-family: sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header nav a {
font-size: 16px;
font-weight: 400;
line-height: 24px;
color: black;

}
.header nav {
    display: flex;
    gap: 30px;
}
.header-btn {
    padding:10px 20px ;
    border-radius: 15px;
    background:black ;
    color: white;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-group {
    display: flex;
    gap: 20px;
}
.img {
    display: flex;
    gap: 20px;
}

.hero-text h1 {
    font-family: Roboto;
font-size: 60px;
font-weight: 700;
text-align: left;
color: black;
}
.hero-text p {
    font-family: Roboto;
font-size: 23px;
font-weight: 400;
line-height: 31.92px;
text-align: left;
color: rgba(18, 16, 12, 0.7)
}
.hero-box button {
    width: 160px;
height: 46px;
border-radius: 16px;
background: rgba(255, 174, 51, 1);
color: black;
border: none;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
text-align: center;
}
.hero-group span {
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: rgba(18, 16, 12, 0.7);

}
.select h1 {
    font-family: Roboto;
font-size: 54px;
font-weight: 700;
line-height: 63.72px;
text-align: center;
color: rgba(18, 16, 12, 1);
}
.select h3{
    font-family: Roboto;
font-size: 54px;
font-weight: 400;
line-height: 63.72px;
text-align: center;
color: rgba(153, 151, 149, 1);
text-decoration-line: line-through;
}



.document-group {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.document h1 {
font-size: 32px;
font-weight: 700;
line-height: 40px;
text-align: left;
color: black;
}
.document p {
font-size: 20px;
font-weight: 400;
text-align: left;
color: rgba(18, 16, 12, 0.7);
}
.document button  {
    width: 162px;
    height: 32px;
    border-radius: 10.5px ;
    border: none;
    background: rgba(255, 174, 51, 1);
font-size: 14px;
font-weight: 700;
text-align: center;
color: black; 
margin-top: 100px;  
}

.remote h1 {
    font-family: Roboto;
font-size: 54px;
font-weight: 700;
line-height: 71.82px;
text-align: center;
color: rgba(18, 16, 12, 1);
padding: 50px 5px;
}

.remote p {
    font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 31.92px;
text-align: center;
color: rgba(18, 16, 12, 0.7);
}

.remote button {
    width: 207px;
height: 47px;
border: 1px solid rgba(0, 0, 0, 1);
font-size: 18px;
font-weight: 700;
line-height: 31.86px;
text-align: center;

}

.slyder h1 {
font-size: 54px;
font-weight: 700;
line-height: 63.72px;
text-align: center;
color: rgba(18, 16, 12, 1);
padding: 30px 0;
}
body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px 10px;

  }

  .swiper-slide img {
    width: 48px;
height: 48px;
border-radius: 9,999px ;
display: flex;
  }
  .swiper-slide p {
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-align: left;

  }
  .swiper-slide h4 {
font-size: 12px;
font-weight: 700;
line-height: 24px;

  }
  .swiper-slide h3 {
font-size: 12px;
font-weight: 400;
line-height: 24px;
text-align: left;

}
.logos {
    display: flex;
    justify-content: space-around;
    padding: 30px 5px;

}
.logos2 {
    display: flex;
    justify-content: space-around;
}
.application-box {
    width: 600px;
height: 600px;
background:rgba(255, 255, 255, 1);
text-align: center;


}
.application-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;


}
#application h3 {
    
font-size: 54px;
font-weight: 700;
line-height: 71.82px;
text-align: center;

}
.application-box h4 {
    
font-size: 32px;
font-weight: 700;
line-height: 40px;
padding-top: 30px;

}
.application-box p {
font-size: 20px;
font-weight: 400;
padding: 20px 0;
color: rgba(18, 16, 12, 0.7);

}
.application-button {
    display: flex;
    flex-direction: column;

}
.application-box button {
    width: 262px;
height: 46px;
border-radius: 20px;
background: rgba(252, 109, 38, 1);
font-size: 14px;
font-weight: 700;
line-height: 16px;
text-align: center;
color: rgba(255, 255, 255, 1);
border: none;
}
.application-box2 h4 {
font-size: 32px;
font-weight: 700;
line-height: 40px;
text-align: center;
color: #12100c;
padding-top: 30px;

}
.application-box2 p {
font-size: 23px;
font-weight: 400;
line-height: 31.92px;
text-align: center;
color: rgba(18, 16, 12, 0.7);
padding: 20px 0;


}
.application-box2 button {
    width: 530px;
height: 56px;
border-radius: 12px;
background: rgba(249, 249, 249, 1);
border: none;
text-align: left;
color: rgba(18, 16, 12, 0.7);
margin-top: 20px;
}

.application-box2 {
    width: 600px;
height: 600px;
background:rgba(255, 255, 255, 1);
text-align: center;
border-radius: 10px;

}
.application {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}